*{
    margin: 0;
    padding: 0;
    color: white;
}


.head-container{
  
    padding: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    input{
        padding: 10px 20px;
        width: 50%;
        border: 1px solid white;
        background: none;
        
    }
    button{
        padding: 10px;
        background: none;
        border: 1px solid white;
    }
}
input::placeholder{
    color: white;
}

body{
    background-color: black;
}

table{
    width: 100%;
    
    padding: 20px 50px;
}
tbody tr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    padding: 20px;

    tr{
        padding: 10px;
    }
    .img-name{
        display: flex;
        gap: 30px;
        align-items: center;
        /* border: 2px solid red; */
        width: 300px;

    }
    td{
        img{
            width:60px
        }
    }
}